###### Editor debris ########

*.org
*~
¥#*

# spyder
.spyderproject/

# pycharm
**/.idea/

# pyenv
.python-version

# setuptool, tox and py.test
.cache/
.coverage
htmlcov/
.eggs/
*.egg-info/
build/
doc/source/modules/
doc/build/
dist/
.tox/

###### Python debris ########

*.pyc


###### Impl. specific debris ########

*.log

###### Work routines debris ########

word_embedding_loader/loader/word2vec_bin.cpp
word_embedding_loader/loader/word2vec_bin.so
word_embedding_loader/saver/word2vec_bin.cpp
word_embedding_loader/saver/word2vec_bin.so
